<div class="row">
	<div class="s12 m12 l12">
	  <div class="about_card">
		<h5 class="center border">Shake it off</h5>
		<p>獨特炸蝦動畫，有助於促進食慾。搭配音樂效果更佳</p>
		<div class="card_reveal">
	  	  <h5>SIF</h5>
	  	</div>
	  </div>
	  <div class="about_card">
		<h5 class="center border">Always Touch Your Heart</h5>
		<p>療癒清新配色，使用起來親切又無違和感</p>
	  </div>
	  <div class="about_card">
	  	<h5 class="center border">Coopration Makes Anything</h5>
	  	<p>師徒聯手打造，功能強大、開發迅速</p>
	  </div>
	  <div class="about_card">
	  	<h5 class="center border">Taste Delicious Dessert</h5>
	  	<p>加入評分機制，好吃美食不側漏</p>
	  </div>
	  <div class="about_card">
	  	<h5 class="center border">Being On Time</h5>
	  	<p>倒數計時制度，養成守時精神。Being on time is not only duty, but also a virtue.</p>
	  	<div class="card_reveal">
	  	  <h5></h5>
	  	</div>
	  </div>
	  <div class="about_card">
	  	<h5 class="center border">Delicious Beautiful Desire</h5>
	  	<p>好吃美食、優雅介面、鉤動味蕾，一應俱全。SDBD由你來定義</p>
	  </div>
	</div>
</div>

<%= content_for :javascripts %>
<%= javascript_include_tag "bundle/about_bundle.js" %>