<div class="row">
	<h4>About S.D.B.D</h4>
	<div class="s12 m12 l12">
	  <div class="about_card">
		<h5 class="center border">Shake it off</h5>
		<p>獨特炸蝦動畫，有助於促進食慾。搭配音樂效果更佳
		   <a href="https://www.youtube.com/watch?v=nfWlot6h_JM">shake if off</a>
		</p>
		<div class="card_reveal">
	  	  <p>SIF</p>
	  	</div>
	  </div>
	  <div class="about_card">
		<h5 class="center border">Always Touch Your Heart</h5>
		<p>療癒清新配色，使用起來親切又無違和感，少女心一覽無遺，讓粉紅色溫暖你的心</p>
		<div class="card_reveal">
	  	  <p>ATYH</p>
	  	</div>
	  </div>
	  <div class="about_card">
	  	<h5 class="center border">Taste Delicious Dessert</h5>
	  	<p>加入評分機制，好吃美食不側漏</p>

	  	<div class="card_reveal">
	  	  <p>TDD</p>
	  	</div>
	  </div>
	  <div class="about_card">
	  	<h5 class="center border">Being On Time</h5>
	  	<p>倒數計時制度，養成守時精神。Being on time is not only duty, but also a virtue.</p>
	  	<div class="card_reveal">
	  	  <p>BOT</p>
	  	</div>
	  </div>
	  <div class="about_card">
	  	<h5 class="center border">Build Operate Transfer</h5>
	  	<p>整合Slack，訂便當也可以BOT</p>

	  	<div class="card_reveal">
	  	  <p>BOT</p>
	  	</div>
	  </div>
	  <div class="about_card">
	  	<h5 class="center border">More About Us</h5>
	  	<p>更多介紹請看 <a href="http://www.slideshare.net/dennyku1/sdbd-52472582">這裡</a></p>

	  	<div class="card_reveal">
	  	  <p>MAU</p>
	  	</div>
	  </div>
	</div>

</div>

<%= content_for :javascripts %>
<%= javascript_include_tag "bundle/about_bundle.js" %>