<!-- todo: 設定餐廳資訊 -->
<% if @restaurant.present? %>
  
<% end %>
<table class="striped">
  <thead>
  	<tr>
  		<td>姓名</td>
  		<td>菜名</td>
  		<td>價格</td>
  		<td>是否結清</td>
  	</tr>
  </thead>
  <tbody>
    <%= render @menu.orders %>
  </tbody>

  <span>總計:</span><p data-sum=""></p>
</table>

<%= render 'partial/order_form' %>

<script>
  $('p[data-sum]').text(function(){
    var $price = $('tr td[data-price]');
    var sum = 0;

    for(i = 0; i < $price.length; i++){
      sum += parseInt($price[i].innerText); ;
    }  
    return sum;
  });
</script>