<!-- todo: 設定餐廳資訊 -->
<% if @restaurant.present? %>
<div class="row">
  <div class="col s12 offset-m3 m6 l6 offset-l3">
    <%= image_tag @restaurant.filepicker_url %>
  </div>
</div>
<% end %>
<table class="dbd_table">
  <thead>
    <tr>
      <td>姓名</td>
      <td>菜名</td>
      <td>價格</td>
      <td>是否結清</td>
    </tr>
  </thead>
  <tbody>
    <%= render @menu.orders %>
  </tbody>
</table>
<%= render 'partial/order_form' %>