<div class="dbd_nav">
  <div class="dbd_logo">
  	<%= image_tag 'logo.png' %>
  </div>
  <ul class="dbd_list">
  	<li><a href="<%= %>">發起點餐</a></li>
  	<li><a href="<%= %>">餐廳列表</a></li>
  </ul>
</div>