<table class="striped">
  <thead>
  	<th>
  		<td>姓名</td>
  		<td>菜名</td>
  		<td>價格</td>
  		<td>是否結清</td>
  	</th>
  </thead>
  <tbody>
  	<tr>
		<td><%= order.name %></td>
  		<td><%= order.food_name %></td>
  		<td><%= order.price %></td>
  		<td><%= order.has_paid %></td>
  	</tr>
  </tbody>
</table>