@font-face {
  font-family: 'Sudo-Ding-Ben-Don';
  src:url('fonts/Sudo-Ding-Ben-Don.eot?cwdyey');
  src:url('fonts/Sudo-Ding-Ben-Don.eot?#iefixcwdyey') format('embedded-opentype'),
    url('fonts/Sudo-Ding-Ben-Don.ttf?cwdyey') format('truetype'),
    url('fonts/Sudo-Ding-Ben-Don.woff?cwdyey') format('woff'),
    url('fonts/Sudo-Ding-Ben-Don.svg?cwdyey#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@for $i from 1 through 6 {
  .dbd_#{$i}x {
  	font-size: #{$i}em;
  }
}

$icon_map: (
  star: "\e603",
  restaurant: "\e604",
  remove: "\e607",
  pencil:"\e601",
  orderlist: "\e600"
);

@each $icon_name, $icon_content in $icon_map {
  .dbd_icon-#{$icon_name}:before {
    content: $icon_content;
    color: #ff8a78;
  }
}



[class^="dbd_icon-"], [class*="dbd_icon-"] {
  font-family: "Sudo-Ding-Ben-Don";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}


.dbd_icon--selected {
  color: #ff8a78;
}