@font-face {
	font-family: 'Sudo-Ding-Ben-Don';
	src:url('fonts/Sudo-Ding-Ben-Don.eot?-5efh2c');
	src:url('fonts/Sudo-Ding-Ben-Don.eot?#iefix-5efh2c') format('embedded-opentype'),
		url('fonts/Sudo-Ding-Ben-Don.ttf?-5efh2c') format('truetype'),
		url('fonts/Sudo-Ding-Ben-Don.woff?-5efh2c') format('woff'),
		url('fonts/Sudo-Ding-Ben-Don.svg?-5efh2c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@for $i from 1 through 6 {
  .dbd_#{$i}x {
  	font-size: #{$i}em;
  }
}

$icon_map: (
  star: "\e603",
  restaurant: "\e604",
  remove: "\e607",
  pencil-large: "\e608",
  pencil:"\e60e",
  list: "\e614"
);

@each $icon_name, $icon_content in $icon_map {
  .dbd_icon-#{$icon_name}:before {
    content: $icon_content;
  }
}



[class^="dbd_icon-"], [class*="dbd_icon-"] {
  font-family: "Sudo-Ding-Ben-Don";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}


.dbd_icon--selected {
  color: #ff8a78;
}