@font-face {
	font-family: 'Sudo-Ding-Ben-Dong';
	src:url('fonts/Sudo-Ding-Ben-Dong.eot?-1n4lpl');
	src:url('fonts/Sudo-Ding-Ben-Dong.eot?#iefix-1n4lpl') format('embedded-opentype'),
		url('fonts/Sudo-Ding-Ben-Dong.ttf?-1n4lpl') format('truetype'),
		url('fonts/Sudo-Ding-Ben-Dong.woff?-1n4lpl') format('woff'),
		url('fonts/Sudo-Ding-Ben-Dong.svg?-1n4lpl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


$dbd_icon_map: (
  star: "\e600",
  restaurant: "\e601",
  remove: "\e602",
  list: "\e603",
  pencil: "\e604",
  google: "\e605",
  money: "\e606",
);

[class^="dbd_icon-"], [class*="dbd_icon-"] {
  font-family: "Sudo-Ding-Ben-Dong";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

@for $i from 1 through 5 {
  .dbd_icon-#{$i}x {
  	font-size: #{$i}em;
  }	
}

%icon_color {
  color: #ff8a78;
}

@each $icon_name, $icon_content in $dbd_icon_map {
  .dbd_icon-#{$icon_name}:before {
	content: $icon_content;
	@extend %icon_color;
  }
}

