.dbd_list {
  display: inline-block;

  li {
  	position: relative;
  	display: inline-block;
  	margin-right: 10px;

  	letter-spacing: 4px;
  	color: #715251;
 
  }

  a {
  	color: inherit;
  }

}
