<div class="row">
<h2>餐廳列表</h2>
<div id="sample">
    <h1>測試</h1>
</div>
<ul class="collection">
	<% @restaurants.each do |rest| %>
    <li class="collection-item avatar">
      <img src="<%= rest.restaurant_picture %>" alt="" class="circle">
      <span class="title"><%= rest.name %></span>
      
      <a href="#!" class="secondary-content"><i class="material-icons">good</i></a>
    <% end %>
</ul>
</div>

<%= content_for :javascripts do %>
<%= javascript_include_tag 'bundle/restaurants_index_bundle'%>
<% end %>