.pagination {
    background-color: #ffbab1;
    span {
        cursor: pointer;
        padding: 10px;
        &:hover {
            a {
                color: #ff8b79;        
            }
        }
    }
    .current {
        color: #af7975;
    }
}
#page_title {
    padding: 0;
    margin: 0;
    margin-top: -10vh;
    font-size: 42px;
    color: #715251;
}
.dbd_navbar {
  background-image: url(navbar.svg);
}
.dbd_nav{
    .dbd_logo {
        position: relative;
        img {
            display: inline-block;
        }
        #sdbd_text {
            width: 70%;
        }
        #shrimp{
            width: 20%;
            margin-left: 15px;
            margin-bottom: -15px;
        }
    }
}